<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Basic Banking System</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.css">
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Kreon&family=Pattaya&family=Roboto:ital@1&display=swap" rel="stylesheet">

<body>
  <div class="heading">
    <h1><img src="logo_small.png" alt="logo" width="100" height="100">Basic Banking System</h1>
    <p>This application is built to enable users to view all the customers and transfer amount to each other's accounts.</p>
  </div>
  <div class="custBtn">
    <a href="/customers" class="btn btn-dark btn-lg " role="button" aria-pressed="true">View all Customers</a>
  </div>
  <footer>Developed by <a style="font-weight:bold;text-decoration:underline;" href="https://www.linkedin.com/in/srinishaa-prabhakaran-8163a31a3/">
     Srinishaa </a>as a part of TSF GRIP March 2021
    Internship.</footer>
</body>

</html>
