body {
  background-image: url("../bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.heading h1 {
  padding: 30px;
  text-align: center;
  font-family: 'Pattaya', sans-serif;
  font-family: Pattaya;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: white;
  line-height: 50px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.table table {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 70%;
}

.table a {
  color: black;
  font-weight: bold;
}

.form-inline {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

#transModal {
  display: none;
  top: 30px;
  transform: translateX(-50%);
  left: 50%;
  width: 40%;
  border-radius: 50px;
  position: absolute;
}

.back {
  margin: 30px;
  position: absolute;
}
